@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

:root {
  --my-color: cyan;
}
@theme {
  /* Custom Font */
  --font-bebas: "Bebas Neue", "sans-serif";

  --text-10xl: 6.75rem;

  --color-sathish-blue: #243c5a;

  --font-weight-sathish-extrablack: 1000;

  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --color-red-200: blue;
}

.my-btn {
  @apply bg-sathish-blue font-sathish-extrablack p-3 border-2 shadow-2xl hover:outline-4 text-white;
}

@custom-variant dark (&:where(.dark-jvl, .dark-jvl *));
