@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";

:root {
  --my-color: cyan;
}
@theme {
  /* Custom Font */
  --font-bebas: "Bebas Neue", "sans-serif";
  --text-10xl: 6.75rem;
  --color-regal-blue: #243c5a;
}
